/* ==== HTML STYLE ==== */

* {
	box-sizing: border-box;
}

body {
    background: url('assets/vintage.jpg');
    background-size: cover;
  }

.container {
  width: 100%;
  max-width: 700px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(25, 76%, 20%, .7);
  border-radius: 10px;
}

h1, h2, h4, h5, p, ul, li {
     color: #d9d9d9;
     font-family: 'Playfair Display', serif;
     text-align: center;
  }

  ol, ul {
	list-style: none;
  }


/* ==== INTRODUCTION STYLE ==== */


  .introduction {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

img {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    width: 14rem;
    height: 12rem;
    border-radius: 1rem;
  }

.introduction h1 {
  text-align: left;
}

.introduction p {
  text-align: left;
}


/* ==== HIS WORKS STYLE ==== */


  .box {
    text-align: center;
    margin: 5px;
  }


/* ==== PHOTO AND TEXT FROM WIKIPEDIA ==== */


/* ==== by 06ATI69 ==== */